{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efekt kierunkowy tworzenie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Utwórz" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('efektkierunkowy_index') }}">Powrót</a>
        </li>
    </ul>
{% endblock %}
